
.country-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

fieldset button{
    text-align: left;
    border: none;
    width: 30%;
    margin: 2px;
    padding: 5px 5px;
}

fieldset input[type="radio"] {
    display: none;
}