a {
    color: inherit;
}

.days li {
    margin-bottom: 20px;
}

.side-panel {
    /* height: 400px; */
    width: 300px;
    display: flex;
    flex-direction: column;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 10px;
}

.inactive {
    color: #aaa;
}

.active {
    color: #fff;
}

i:hover {
    cursor: pointer;
}

.days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    
}

.days li:hover::before{
    background-color: #f2f2f2;
} 

.active::before {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
<<<<<<< HEAD
}

/* css for year options user input */

.input-form button {
    border: none;
}

.switch-year {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-year button {
    width: 7.5%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.switch-btn svg {
    z-index: -1;
    margin: 0;
    padding: 0;
}

.year-list { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.year-item {
    margin: 2px;
    padding: 5px 5px;
}

#yearList li button {
    text-align: left;
    border: none;
    width: 100%;
    padding: 5px 15px;
}

.display-decade {
    margin: 2px 10px;
}

.feedback-text {
    min-height: 25px;
}
=======
}
>>>>>>> 8e7702b7043d0145e53b8bb70a69224563c45fc6
